<section id="main-table"></section>

<!-- <table class="table">
  <thead>
    <tr class="table__head">
      <th></th>
      <th>Name</th>
      <th>Created</th>
      <th>Category</th>
      <th>Content</th>
      <th>Dates</th>
      <th>Icons</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <td>
      <span class="icon-wrapper">
        <svg width="16" height="16">
          <use href="./images/sprite.svg#hangouts"></use>
        </svg>
      </span>
    </td>
    <td>Item 2</td>
    <td>2023-07-24</td>
    <td>Science</td>
    <td>This is the content of Item 2.</td>
    <td>2023-07-24</td>
    <td>🔍</td>
    <tr>
      <td>
        <span class="icon-wrapper">
          <svg width="16" height="16">
            <use href="./images/sprite.svg#lightbulb"></use>
          </svg>
        </span>
      </td>
      <td>Item 3</td>
      <td>2023-07-23</td>
      <td>Nature</td>
      <td>This is the content of Item 3.</td>
      <td>2023-07-23</td>
      <td class="options">
        <button id="btn-edit" class="btn" type="button">
          <svg class="icon" width="16" height="16">
            <use href="./images/sprite.svg#pencil"></use>
          </svg>
        </button>
        <button id="btn-archiv" class="btn" type="button">
          <svg class="icon" width="16" height="16">
            <use href="./images/sprite.svg#box-add"></use>
          </svg>
        </button>
        <button id="btn-delete" class="btn" type="button">
          <svg class="icon" width="16" height="16">
            <use href="./images/sprite.svg#bin"></use>
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
