.btn {
  padding: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;

  color: $txt-white-color;
  background-color: transparent;

  transition: color $animation, background-color $animation,
    box-shadow $animation;

  & svg {
    fill: $bg-color;
    transition: fill $animation, transform $animation;
  }

  &:hover svg,
  &:focus svg {
    fill: $bg-btn-active-color;
    transform: scale(1.1);
    // box-shadow: $btn-shadow;
  }
}
