.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: $txt-white-color;
  border: 1px solid $border-color;
  border-radius: 8px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

input[type='text'],
input[type='date'],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid $border-color;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color $animation;

  &:hover,
  &:focus {
    border-color: $border-active-color;
  }
}

textarea {
  resize: none;
  height: 60px;
}

input[type='submit'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 8px;

  width: fit-content;

  border: 1px solid $bg-btn-active-color;
  border-radius: 4px;
  cursor: pointer;

  color: $txt-black-color;
  background-color: bg-table-row-color;

  transition: transform $animation, background-color $animation;

  &:hover,
  &:focus {
    background-color: $bg-hover-color;
    transform: scale(1.05);
  }
}

// input[type='submit']:hover {
//   background-color: #0056b3;
// }
